function DaemonSettings() {
  var credentials = {
    postgres: {
      database: "couchplay",
      username: "mike",
      password: "mike",
      host: "localhost"
    },
    couchdb: {
      url: 'http://127.0.0.1:5984'
    }
  };

  return credentials;
};

module.exports = DaemonSettings;

